*{

    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/*HEADER SECTION START*/

header{

    background-color: #21033A;
}

header .container-lg ul li a{

        color:white;
}
header .container-lg ul li a:hover{

    color:#FF2D45;
}
#myform ul li a{

    color:white;
  }

#myform ul #drowpdown_div {

    margin-left:900px;
}
#myform ul #drowpdown_div a{

    color:black;    
}
/*HEADER SECTION END*/

/*HOME SECTION START*/

#home_section{

    /* width:100%; */
    /* height:100%; */
    background: url(../img/background\ heart.jpg)  no-repeat;
    background-size: cover;
    background-position: center center;
}
#home_section .container .row .col {

    margin:60px auto 60px 40px;

}
.bg-purple{

    background-color:#5C327A;
}


/* BUTTON PILLS TAB START */

 #home_section .container .row .row ul li {

        color:white;
} 
#home_section .container .row  .row ul li :hover{

  color:white;
  background-color:#FF2D45;
}


/* BUTTON PILLS TAB END */

/*checkbox start */

#check {

    font-size:16px;
    font-weight:600px;
    
}

#home_section .container .row .col-lg-5 .check1{

    margin-left:5px;
}
#home_section .container .row .col-lg-5 .check2{

    margin-left:98px;
} 

/*checkbox end */

/*Button search start*/

#home_section .row .col-lg-2 #my_btn  {

    background-color:#FF2D45;
    color:white;  
    padding:15px;
    border-radius:50%;
    margin-left:30px;
    font-size:18px;
    
}

/*Button search end*/
/*HOME SECTION END*/
/*FUN SECTION START*/

#fun_section{
    
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url(../img/background_img.jpg) no-repeat ;
    background:cover;
    background-position:center center;
}
#box {

    font-size:18px;
   
}

#fun_section .container .row #box {
        margin-top:25px;
        padding:15px;
        background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
}

/*FUN SECTION END*/



/*Responsive web page start*/


@media screen and (max-width:1199px)
{
    #home_section .row .col-lg-6 #my_btn{

        padding:20px;
    }
}

@media screen and (max-width:991px)
{
    #home_section .row .col-lg-2 #my_btn  {

        background-color:#FF2D45;
        color:white;  
        padding:15px 305px;
        border-radius: 10px 10px;
        margin:4px;
        font-size:18px;
    }
    #home_section .container .row .col-lg-5{
        
        padding:10px;
    }
    
    #home_section .container .row .col-lg-2{

        padding:10px;
    }
    #home_section .container .row .col-lg-5 .check1{

        margin-left:10px;
    
    }
    #home_section .container .row .col-lg-5 .check2{
    
         margin-left:315px;
    }
    
}

@media screen and (max-width:767px)
{

    #home_section .row .col-lg-2 #my_btn  {

        background-color:#FF2D45;
        color:white;  
        padding:15px 215px;
        border-radius: 10px 10px;
        margin:4px;
        font-size:18px;
    }
    #home_section .container .row .col-lg-5 .check1{

         margin-left:10px;

    }
    #home_section .container .row .col-lg-5 .check2{

        margin-left:135px;
    }

    #fun_section{
        background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url(../img/background_img.jpg) no-repeat ;
        background:cover;
        background-position:center center;
    }
}

@media screen and (max-width:575px){

    #home_section .container .row .col-lg-5 .check1{

        margin-left:10px;
    
    }
    #home_section .container .row .col-lg-5 .check2{
    
            margin-left:170px;
    }
    
}
 
/*Responsive web page end*/
