*{

    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/*HEADER SECTION START*/

header{

    background-color: #21033A;
}

header .container-lg ul li a{

        color:white;
}
header .container-lg ul li a:hover{

    color:#FF2D45;
}
#myform ul li a{

    color:black;
    
}
/*HEADER SECTION END*/

/*HOME SECTION START*/


#home_section{

    height:615px;
    background: url(../img/background\ heart.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    

}

#home_section .container .row .col {

    margin:60px auto 60px 40px;

}
.bg-purple{

    background-color:#5C327A;
    

}
#home_section .container .row .col{

   
    
}

/* BUTTON PILLS TAB START */

/* #home_section .container .row .row ul li {
    background-color:#FF2D45;
    color:white;
} */
 #home_section .container .row .row ul li {

    
    color:white;
} 
#home_section .container .row  .row ul li :hover{

  color:white;
  background-color:#FF2D45;
}


/* BUTTON PILLS TAB END */

/*checkbox start */

#check {

    font-size:12px;
}

/*checkbox end */

/*Button search start*/



#home_section .row .col-lg-2 #my_btn  {

    
    background-color:#FF2D45;
    color:white;
    margin-left:50px;
    padding:15px;
    
}
/*Button search end*/
/*HOME SECTION END*/
/*FUN SECTION START*/

#fun_section{
    height:350px;
    /* margin-top:200px; */
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url(../img/fun.jpg) no-repeat ;
    background:cover;
    background-position:center center;
}

#fun_section .container .row {


}
#box {

    font-size:18px;
   
}

#fun_section .container .row #box {
        margin-top:25px;
        padding:15px;
        background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
}

/*FUN SECTION END*/


